doctype html
head
  title Pug
  
h1 Credit Card Checker
#container.col
  form(method='POST' action='/main/check')
    label(for='CardNumber')
    b Card Number:
    input#numInpt(type='text' name='CardNumber')
    input(type='submit' value='Check Card')